<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Estudiante</title>
</head>
<body>

    <h3>Nuevo Estudiante</h3>
    
    <form method="post">

        <!-- Controles: Nombre, Email, Codigo-->

        <label for="nombre">Nombre:</label><input type="text" name="nombre"/>
        <label for="email">Email:</label><input type="text" name="email"/>
        <label for="codigo">Codigo Estudiante:</label><input type="text" name="codigo"/>
        <input type="submit" value="Agregar"

    </form>


</body>
</html>